.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.submit{
  margin: 2rem;
  padding: 1rem;
  width: 30%;
  background-color: rgb(93, 199, 226);
  border: none;
  border-radius: 1rem;
}

.input{
  margin: 1rem;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
}